<div class="mb-3 px-0 container-sm" id="comment<%=comment.id%>">
  <div class="comment card ">
    <div class="card-body">
      <h5 class="card-title">
        <%=comment.nick_name%>
      </h5>
      <div class="card-text">
        <%=comment.content%>
      </div>
    </div>
  </div>
</div>