<div class="comment card ">
  <div class="card-header">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to comment_path(comment), data: {turbo_method: :delete} , class:"text-reset nav-link" do%>
          <i class="fa-solid fa-trash"></i>
        <%end%>
      </li>
      <li class="nav-item">
        <%= link_to edit_comment_path(comment), remote: true,class: "text-reset nav-item nav-link" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <%=comment.nick_name%>
    </h5>
    <div class="card-text">
      <%=comment.content%>
    </div>
  </div>
</div>
