<button class="btn btn-primary position-fixed bottom-0 end-0 translate-middle mb-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPromptForm" data-url= <%=new_prompt_path%> aria-controls="offcanvasPromptForm" id="promptFormButton">
  <i class="fa-solid fa-pen-to-square"></i>
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasPromptForm" aria-labelledby="offcanvasPromptForm">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasPromptFormLabel">Prompt投稿</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="cancel"></button>
  </div>
  <div class="offcanvas-body">
  </div>
</div>