<div class="prompt">
  <div class="prompt-title">
    sample-title
  </div>
  <div class="prompt-main">
    <div class="prompt-content">
      sample-content
    </div>
  </div>
  <div class="prompt-footer">
    <a class="prompt-nick-name">
      sample-name
    </a>
    <a class="prompt-ai-name">
      sample-ai
    </a>
  </div>
</div>