<div class="prompt">
  <div class="prompt-title">
    <%=prompt.title%>
  </div>
  <button class="showDetails">詳細を表示</button>
  <div class="prompt-main detail">
    <div class="prompt-content">
      <%=prompt.content%>
    </div>
  </div>
  <div class="prompt-footer">
    <a class="prompt-nick-name">
      <%=prompt.nick_name%>
    </a>
    <a class="prompt-ai-name">
      <%=prompt.ai.name%>
    </a>
  </div>
</div>