<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" data-url=<%=search_prompts_path%> data-name="プロンプト検索" aria-controls="collapsePromptSearch" id="promptSearchButton">
  プロンプト検索
</button>
<div class="collapse" id="collapseSearch">
  <div class="collapse-header">
    <h5 class="collapse-title" id="collapseTitle"></h5>
  </div>
  <div class="collapse-body">
  </div>
</div>