<p class="navbar-text">プロンプト検索</p>
<form class="navbar-form">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="キーワード">
  </div>
  <button type="submit" class="btn btn-info">検索</button>
</form>