<main class="prompts-main-index">
  <div class="categories">
    <h1>カテゴリ一覧</h1>
    <%if defined? @parent_category%>
      <h2>
        <%=render partial: "categories/category",locals: {category: @parent_category}%>
      </h2>
    <%end%>
    <h2>
      <%=render partial: "categories/category",locals: {category: @category}%>
    </h2>
    <%=render partial: "categories/category",collection: @categories, as: :category%>
  </div>
  <div class="prompts-index">
    <h1>prompt一覧</h1>
    <div class="prompts">
      <%if @prompts.any?%>
        <%=render partial: "prompt",collection: @prompts%>
      <%else%>
        <p>条件に該当するpromptは存在しません。</p>
      <%end%>
    </div>
  </div>
</main>
