<%=render partial:"categories/index", locals:{categories:@categories}%>
<main class="mt-3 py-2 w-50">
  <div class="container-sm">
    <div class="col gx-8">
      <%=render partial:"prompts/prompt", collection:@prompts%>
    </div>
  </div>
</main>