<main>
  <div class="prompts-index">
    <h1>prompt一覧</h1>
    <div class="prompts">
      <%if @prompts.any?%>
        <%=render partial: "prompt",collection: @prompts%>
      <%else%>
        <p>条件に該当するpromptは存在しません。</p>
      <%end%>
    </div>
  </div>
</main>
