<main class="mt-3 py-2">
  <div class="container-lg">
    <div class="col-md-auto">
      <h1>プロンプト投稿ページ</h1>
      <%=render partial: 'form' , locals: {prompt:@prompt,ais:@ais,category:@category,categories:@categories,action_name:"投稿する"}%>
    </div>
  </div>
</main>