<main>
  <div class="prompts-index">
    <div class="prompts">
      <%if @prompt.present?%>
        <%=render partial: "prompt",locals: {prompt: @prompt}%>
        <div class="prompt-answer">
          <h3>prompt回答</h3>
          <%if @prompt.answer.present?%>
            <%=simple_format(h(@prompt.answer),class:"content-answer")%>
          <%else%>
            <p class="prompt-no-answer">no answer</p>
          <%end%>
        </div>
      <%else%>
        <p>条件に該当するpromptは存在しません。</p>
      <%end%>
    </div>
  </div>
</main>