<% if prompt.liked_by?(current_ip) %>
  <%= button_to prompt_likes_path(prompt), method: :delete, remote: true, class: "prompt_likes liked row btn btn-sm", form: { class: "like-btn-box col row", id: "like-btn#{prompt.id}" } do %>
    <span>
      <i class="fa-solid fa-heart fa-fw" style="color:red;"></i>
      <%= prompt.likes.size %>
    </span>
  <% end %>
<% else %>
  <%= button_to prompt_likes_path(prompt), method: :post, remote: true, class: "prompt_likes row btn btn-sm", form: { class: "like-btn-box  col row", id: "like-btn#{prompt.id}" } do %>
    <span>
      <i class="fa-regular fa-heart fa-fw"></i>
      <%= prompt.likes.size %>
    </span>
  <% end %>
<% end %>