<% if model.errors.any? %>
  <div class="error-alert">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class='error-message alert alert-danger' role="alert"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>