<footer>
  <div class="navbar bg-light px-3">
    <div class="col gx-8 text-center">
      <a href="https://www.freeiconspng.com/img/1397">details icon png CC BY 3.0 . It</a>
    </div>
  </div>
</footer>