<div class="navbar bg-light px-3">
  <div class="col gx-8 text-center">
    <%=link_to "Prompter",root_path,html_options = {class:"navbar-brand me-2"}%>
  </div>
  <div class="d-flex p-2 me-2">
    <%=link_to "プロンプト一覧",category_prompts_path(0),html_options = {class:"nav-link p-2 me-2"}%>
    <%=link_to "プロンプト投稿",new_prompt_path,html_options = {class:"nav-link p-2"}%>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
            aria-controls="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
<%=render partial:"categories/index"%>