/* フォーム全体のスタイル */

main.new-prompt {
    /**headerとの幅調整**/
    padding: 10px;
}

main.new-prompt h1 {
    font-size: large;
    text-align: center;
    margin: 10px;
}

form {
    max-height: 80vh;
    max-width: calc( 100% - 40px);
    /* 最大幅を設定して、コンテンツが大きすぎないようにする */
    background-color: #f9f9f9;
    /* 背景色を設定する */
    border: 1px solid #ddd;
    /* 枠線を追加して見た目を整える */
    border-radius: 5px;
    /* 角丸にする */
    display: flex;
    flex-direction: column;
    align-items: center;
}

form * {
    width: 100%;
}

.prompt-title-form {
    width: 60%;
    /* 幅を100%に設定して親要素にフィットさせる */
    padding: 10px;
}


/* タイトル入力フィールドのスタイル */

.prompt-title-form input[type="text"] {
    /* 内側の余白を追加して見た目を整える */
    margin-bottom: 15px;
    /* 下部に余白を追加して見た目を整える */
}


/* コンテンツ入力フィールドのスタイル */

.prompt-content-form {
    width: 80%;
    /* 幅を100%に設定して親要素にフィットさせる */
}

.prompt-content-form input[type="text"] {
    padding: 10px;
    /* 内側の余白を追加して見た目を整える */
    margin-bottom: 15px;
    /* 下部に余白を追加して見た目を整える */
}


/* ニックネーム入力フィールドのスタイル */

.prompt-nick-name-form {
    width: calc(50% - 5px);
    /* 幅を50%に設定して左右に均等に配置する */
}

.prompt-nick-name-form input[type="text"] {
    padding: 10px;
    /* 内側の余白を追加して見た目を整える */
    margin-right: 10px;
    /* 右側に余白を追加して見た目を整える */
    margin-bottom: 15px;
    /* 下部に余白を追加して見た目を整える */
}


/* AI名のドロップダウンメニューのスタイル */

.prompt-ai-name-form {
    width: calc(50% - 5px);
    /* 幅を50%に設定して左右に均等に配置する */
}

.prompt-ai-name-form select {
    padding: 10px;
    /* 内側の余白を追加して見た目を整える */
    margin-bottom: 15px;
    /* 下部に余白を追加して見た目を整える */
}


/* 投稿ボタンのスタイル */

.submit-btn {
    width: 200px;
    background-color: #3498db;
    /* 背景色を設定する */
    color: #fff;
    /* テキストの色を設定する */
    padding: 10px 20px;
    /* 内側の余白を追加して見た目を整える */
    border: none;
    /* ボーダーを削除する */
    border-radius: 5px;
    /* 角丸にする */
    cursor: pointer;
    /* カーソルをポインターにする */
    font-size: 16px;
    /* フォントサイズを設定する */
}

.submit-btn:hover {
    background-color: #2980b9;
    /* ホバー時の背景色を変更する */
}