main.prompts-main-index {
    display: flex;
    justify-content: space-between;
}


/*詳細情報を隠す*/

.toggle {
    display: none;
}

.prompts-index {
    height: 100%;
    width: 80vw;
    padding: 10px;
    margin: 0 auto;
}

.prompts-index h1 {
    height: 40px;
    text-align: center;
    font-size: 30px;
    line-height: 1.4;
}

.prompts {
    width: calc(100% - 40px);
    max-height: calc(100% - 60px);
    overflow: scroll;
}


/* プロンプト全体のスタイル */

.prompt {
    border: 1px solid #ccc;
    /* 枠線を追加してプロンプトを区別する */
    border-radius: 5px;
    /* 角丸にする */
    padding: 15px;
    /* 内側の余白を追加して内容を調整する */
    margin: 20px;
    /* プロンプト間の間隔を追加する */
    margin-right: auto;
    margin-left: auto;
}


/* プロンプトのタイトルのスタイル */

.prompt-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    /* タイトルと内容の間に余白を追加する */
}

.prompt-title {
    width: 70%;
    text-align: center;
}

.prompt-title a {
    font-weight: bold;
    /* タイトルを太字にする */
}

.prompt-actions {
    width: 30%;
    display: flex;
    justify-content: space-between;
}


/* プロンプトのフッターのスタイル */

.prompt-footer {
    margin: 10px, 0, 5px;
    padding-right: 15%;
    /* フッターと内容の間に余白を追加する */
    display: flex;
    justify-content: space-between;
}


/* promptタイトル、ユーザー名とAI名のスタイル */

.prompt-header a,
.prompt-footer a {
    margin-right: 10px;
    /* ユーザー名とAI名の間に余白を追加する */
    text-decoration: none;
    /* 下線を削除する */
    color: black;
    /* リンクの色を黒にする */
}


/* ユーザー名とAI名のホバー時のスタイル */

.prompt-header a:hover,
.prompt-footer a:hover {
    text-decoration: underline;
    /* ホバー時に下線を表示する */
}


/*プロンプト内容のスタイル*/

.prompt-main {
    margin: 10px;
}


/* プロンプト全体のサイズ設定 */

.prompt {
    width: 100%;
    /* 幅を親要素の幅いっぱいに設定する */
    max-width: 600px;
    /* 最大幅を設定して、コンテンツが大きすぎないようにする */
    max-height: 200px;
    /* 高さを200pxに固定する */
    /* overflow: auto;*/
    /* コンテンツがpromptの枠を超えた場合にスクロールバーを表示する */
}


/* タイトルのサイズ設定 */

.prompt-title {
    font-size: 18px;
    /* タイトルのフォントサイズを設定する */
    height: 10%;
    /* タイトルの高さを設定する */
}


/* プロンプト内容のサイズ設定 */

.prompt-main {
    max-height: 100px;
}

.prompt-content {
    max-height: 80px;
    overflow-y: auto;
}

.prompt-content {
    background-color: #f6f6f6;
}

.read-more {
    background-color: white;
    opacity: 0.5;
}


/* フッターのサイズ設定 */

.prompt-footer {
    height: 10%;
    font-size: 14px;
    /* フッターのフォントサイズを設定する */
}