.prompt-answer {
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt-answer h3 {
    text-align: center;
}

.prompt-answer p {
    width: 80%;
    background-color: #f6f6f6;
}

.prompt-no-answer {
    text-align: center;
}