.container-fluid.bg-image {
  background-image: url("https://img.freepik.com/free-photo/realistic-books-on-a-shelf-in-a-library_23-2151359528.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-fluid.bg-image {
  background-color: rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}
.noto-sans-jp-title {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}